.feature-item {
    width: 30%;
}

.feature-item__icon {
    width: 150px;
    height: 150px;
}

.feature-item__title {
    margin: 20px 0 0 0;
    font-size: 20px;
    letter-spacing: 0.016em;
    color: #333333;
}

.feature-item__text {
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.016em;
}