.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 135px;
}

.header__logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #FFFFFF;
}

.header__social-wrap{
    display: flex;
}

.header__social-icon {
    width: 20px;
    height: 20px;
    display: block;
}

.social-btn {
    cursor: pointer;
}

.header__social-btn-fb {
    margin-right: 20px;
}

