.features {
    background: #FFFFFF;
}

.features-wrap {
    display: flex;
    justify-content: space-between;
}

.features__container {
    padding: 80px 0;
}

.features .features__title {
    margin-bottom: 55px;
}