* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.title {
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: 0.016em;
    padding: 0;
    margin: 0;
    text-align: left;
    color: #333333;
}

.title::first-line {
    font-weight: 400;
}