* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background: linear-gradient(122.77deg, #2F80ED 0%, #17345C 98.9%);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.title {
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: 0.016em;
    padding: 0;
    margin: 0;
    text-align: left;
    color: #333333;
}

.title::first-line {
    font-weight: 400;
}

.title_color_white {
    color: #FFFFFF;
    margin-bottom: 50px;
}

.chat__btn:hover {
    background-color: #FFF;
}

.chat__btn:hover ~ .chat__btn-label{
    color: #FFF;
}